/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Partículas fixas no fundo */
#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 0;
    top: 0;
    left: 0;
    background-color: #0f1116;
    pointer-events: none;
}

/* Corpo da página */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #0f1116;
    color: #f4f4f4;
    line-height: 1.6;
    scroll-behavior: smooth;
    overflow-x: hidden;
    position: relative;
}

/* Conteúdo sobre partículas */
.container {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    padding: 40px 20px;
    position: relative;
    z-index: 1;
}

/* Navbar */
.navbar {
    background-color: #1a1c23;
    padding: 20px 50px; /* Adicionado padding lateral */
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);

    display: flex;              /* Alinha menu e botão lado a lado */
    justify-content: space-between;
    align-items: center;
}

.navbar .menu {
    display: flex;
    gap: 50px;
    list-style: none;
}

.navbar .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: 600;
    font-size: 1.0rem;
    padding: 6px 30px;
    transition: color 0.3s;
}

.navbar .menu li a:hover {
    color: #00c3ff;
}

/* Botão de download do currículo */
.curriculo-download a {
    background-color: #00c3ff;
    color: #000000;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.curriculo-download a:hover {
    background-color: #00a8e0;
    color: #ffffff;
}

/* Header */
header {
    text-align: center;
    margin-bottom: 40px;
}

.foto-perfil {
    width: 230px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid #00c3ff;
    margin-bottom: 15px;
}

h1 {
    font-size: 2rem;
    color: #ffffff;
}

header p {
    color: #cccccc;
    margin-top: 5px;
}

/* Títulos de seção */
section h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #00c3ff;
    border-bottom: 2px solid #00c3ff;
    display: inline-block;
}

/* Listas */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

ul li {
    margin-bottom: 10px;
}

p, li {
    font-size: 1rem;
    color: #dddddd;
}

/* Links */
a {
    color: #00c3ff;
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

/* Rodapé */
footer {
    text-align: center;
    padding: 15px;
    background-color: #1a1c23;
    color: #888;
    font-size: 0.9rem;
    border-top: 1px solid #292c33;
    position: relative;
    z-index: 1;
}
